body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.col{
    margin: 10px;
}
.contact-col{
    margin-top: 25%;
    text-align: center;
    height: 200px;
}
.education-col{
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    height: 100px;
}
a, a:visited, a:hover, a:active {
    color: inherit;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    color: red;
}
img{
    border-radius: 50%;
}
p{
    font-size: 15px;

}
.job-descr{
    font-size: 15px;
    font-style: italic;
}
.education-img{
    border-radius: 0%;
    width: 300px;
}
.education-name, a:active{
    font-size: 30px;
}
.education-name:hover{
    font-size: 30px;
    color: red;
}
.work-col{
    text-align: center;
    margin: 3px;
    margin-bottom: 30px;
}
#work-github {
    text-align: right;
}

.work-name, .work-name:hover{
    font-size: 25px;
}
.work-name:hover{
    color: red;
}
.work-cont{
    width: 65%;
}
.about-img{
    border-radius: 50%;
    width: 200px;
}
.about{
    margin:0;
}
.project{
    text-align: left;
}

.project-con{
    margin-top: 70px;
}

.project-img{
    border: 1px solid black;
    border-radius: 0%;
    width: 600px;
}